In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
date_range = pd.date_range(start='2024-09-01', end='2024-09-30', freq='D')
date_range

DatetimeIndex(['2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04',
               '2024-09-05', '2024-09-06', '2024-09-07', '2024-09-08',
               '2024-09-09', '2024-09-10', '2024-09-11', '2024-09-12',
               '2024-09-13', '2024-09-14', '2024-09-15', '2024-09-16',
               '2024-09-17', '2024-09-18', '2024-09-19', '2024-09-20',
               '2024-09-21', '2024-09-22', '2024-09-23', '2024-09-24',
               '2024-09-25', '2024-09-26', '2024-09-27', '2024-09-28',
               '2024-09-29', '2024-09-30'],
              dtype='datetime64[ns]', freq='D')

In [3]:
città = ['Roma', 'Milano', 'Napoli']
prodotti = ['Penna', 'Quaderno', 'Libro']

In [4]:
data = []
for date in date_range:
    città_nome = np.random.choice(città)
    prodotto = np.random.choice(prodotti)
    vendite = np.random.randint(50, 500)
    data.append([date, città_nome, prodotto, vendite])

In [5]:
df = pd.DataFrame(data, columns=['Data', 'Città', 'Prodotto', 'Vendite'])
df.head()

        Data   Città  Prodotto  Vendite
0 2024-09-01  Napoli  Quaderno      273
1 2024-09-02  Milano  Quaderno      115
2 2024-09-03  Milano  Quaderno      392
3 2024-09-04    Roma     Libro      488
4 2024-09-05  Napoli     Libro      156

Creazione della Tabella Pivot: Creare una tabella pivot per analizzare
le vendite medie di ciascun prodotto per città.

In [6]:
pivot_df = df.pivot_table(values="Vendite", index = "Prodotto", columns = "Città", aggfunc= "mean")
print(pivot_df)

Città         Milano  Napoli    Roma
Prodotto
Libro            NaN   313.0  233.75
Penna     326.500000   181.0  251.00
Quaderno  251.285714   339.0  270.00

Applicazione di GroupBy: Utilizzare il metodo groupby per calcolare le
vendite totali per ogni prodotto.

In [7]:
vendite_totali_per_prodotto = df.groupby('Prodotto')['Vendite'].sum()
print(vendite_totali_per_prodotto)

Prodotto
Libro       2500
Penna       1738
Quaderno    4126
Name: Vendite, dtype: int64