In [1]:
import pandas as pd
import numpy as np

In [ ]:
nomi_iniziali = ["Andrea","Giovanni","Francesca","Sara","Riccardo", "Alessia", "Davide", "Federica","Lorenzo", "Marcello", "Valeria", "Renato", "Alice"]
indici_casuali_n = np.random.randint(0,len(nomi_iniziali),size = 7)

nomi_casuali = [nomi_iniziali[i] for i in indici_casuali_n]
nomi_casuali

In [ ]:
citta_iniziali = ["Ancona","Bari","Como", "Domodossola", "Firenze", "Genova", "Imola","Lugano" ]
indici_casuali_c = np.random.randint(0,len(citta_iniziali),size = )

citta_casuali = [citta_iniziali[i] for i in indici_casuali_c]
citta_casuali

In [ ]:
eta = np.linspace(18,65,len(nomi_casuali),dtype = "int")
eta

In [ ]:
salario = np.linspace(1000,3000, len(nomi_casuali), dtype = "int")
salario

In [ ]:
data = {'Nome': nomi_casuali,'Età': eta,'Città': citta_casuali, "Salario": salario}
df = pd.DataFrame(data)
df.head()

In [ ]:
df.tail()

In [ ]:
df.dtypes

In [ ]:
print(df[["Età", "Salario"]].mean())
print(df[['Età', 'Salario']].median())
print(df[['Età', 'Salario']].std())

In [ ]:
print(df.drop_duplicates())

In [ ]:
df.loc[len(df)] = [np.nan] * len(df.columns)
df

In [12]:
mediane = df[['Età', 'Salario']].median()
df[['Età', 'Salario']] = df[['Età', 'Salario']].fillna(mediane)

In [ ]:
df

In [ ]:
def classificazione_eta(eta):
    if eta <= 18:
        return 'Giovane'
    elif 19 <= eta <= 65:
        return 'Adulto'
    else:
        return 'Senior'

df['Categoria Età'] = df['Età'].apply(classificazione_eta)

In [16]:
df.to_csv("df_es_pandas.csv", index=False)